{% extends 'pace/base.html' %}
{% block content %}
<nav class="navbar navbar-inverse" style="background-color: #e3f2fd">
    <h1 class="navbar-brand">
        Camelot Academy
    </h1>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'pace:teacher' teacher_name %}"> {{ teacher_name }}'s Students </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">All Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'pace:addstudent' teacher_name %}">Add New Student</a>
        </li>
    </ul>
</nav>
    <br>
<div class="container">
    {% if top_comment %}
        {{ top_comment }}
        <br><br>
    {% endif %}
    <h4>Student: {{ student_name }}</h4>
    <form action="{% url 'pace:add_chapter_to_student' teacher_name student_name %}" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Select Book" />
    </form>
</div>


{% endblock %}