{% extends 'pace/base.html' %}
{% block content %}
<nav class="navbar navbar-inverse" style="background-color: #e3f2fd">
    <h1 class="navbar-brand">
        Camelot Academy
    </h1>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'pace:teacher' teacher_name %}"> {{ teacher_name }}'s Students </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">All Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'pace:addstudent' teacher_name %}">Add New Student</a>
        </li>
    </ul>
</nav>
    <br>
<div class="container">
    {% if top_comment %}
        {{ top_comment }}
        <br><br>
    {% endif %}
    <h4>Student: {{ student_name }}</h4>
    <h6 class="text-danger">Please input dates in one of the following formats: 5/18/2017, 5/18/17, or 2017-5-18</h6>
    <form action="{% url 'pace:save_pace_dates' teacher_name student_name %}" method="post">
        {% csrf_token %}
        {{ form.management_form }}
            {% for form in form %}
                {{ form.id }}
                {{ form.non_field_errors }}
                {{ form.chapter }}
                {{ form.pace_date.label_tag }}{{ form.pace_date }}{{ form.pace_date.errors }}
                <br>
            {% endfor %}
        <input type="submit" value="Save Changes" />
    </form>
</div>


{% endblock %}